@keyframes bulb-preset-25 {
  0% {
    fill: red;
  }
  14% {
    fill: yellow;
  }
  29% {
    fill: green;
  }
  43% {
    fill: cyan;
  }
  57% {
    fill: blue;
  }
  71% {
    fill: purple;
  }
  86% {
    fill: white;
  }
  100% {
    fill: red;
  }
}

@keyframes bulb-preset-26 {
  0% {
    fill: black;
  }
  50% {
    fill: red;
  }
  100% {
    fill: black;
  }
}

@keyframes bulb-preset-27 {
  0% {
    fill: black;
  }
  50% {
    fill: green;
  }
  100% {
    fill: black;
  }
}

@keyframes bulb-preset-28 {
  0% {
    fill: black;
  }
  50% {
    fill: blue;
  }
  100% {
    fill: black;
  }
}

@keyframes bulb-preset-29 {
  0% {
    fill: black;
  }
  50% {
    fill: yellow;
  }
  100% {
    fill: black;
  }
}

@keyframes bulb-preset-2a {
  0% {
    fill: black;
  }
  50% {
    fill: cyan;
  }
  100% {
    fill: black;
  }
}

@keyframes bulb-preset-2b {
  0% {
    fill: black;
  }
  50% {
    fill: purple;
  }
  100% {
    fill: black;
  }
}

@keyframes bulb-preset-2c {
  0% {
    fill: black;
  }
  50% {
    fill: white;
  }
  100% {
    fill: black;
  }
}

@keyframes bulb-preset-2d {
  0% {
    fill: red;
  }
  50% {
    fill: green;
  }
  100% {
    fill: red;
  }
}

@keyframes bulb-preset-2e {
  0% {
    fill: red;
  }
  50% {
    fill: blue;
  }
  100% {
    fill: red;
  }
}

@keyframes bulb-preset-2f {
  0% {
    fill: green;
  }
  50% {
    fill: blue;
  }
  100% {
    fill: green;
  }
}

// TODO implement presets 30-38 (strobe flash)
